.date-selector {
    border-radius: 12px;
    text-align: center;
}

.countdown {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}